.chord-diagram {
    display: inline-block;
    --diagram-scale: 0.6;
    --cell-width: calc(60px * var(--diagram-scale));
    --cell-height: calc(40px * var(--diagram-scale));
}


.chord-diagram-name {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 0.85rem;
}