.chord-picker-modal {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    max-height: 75vh;
    overflow-y: auto;
    background: white;
    border: 1px solid black;
    padding: 16px;
    z-index: 10;
}

.chord-picker-container {
    display: flex;
    margin-bottom: 24px;

}

.chord-picker-tabs {
    display: flex;
    gap: 12px;
}

.chord-picker-tabs .btn.active {
    background: var(--accent);
    color: white;
}

.chord-picker-close {
    margin-left: auto;
}

.chord-picker-close button {
    background-color: rgb(255, 110, 134);
    color: white;
}

.chord-picker-build {
    gap: 12px;
}

.add-chord {
    margin-top: 24px;
}