.preset-chord-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 64px;
}

.preset-chord-button {
    border-radius: var(--radius);
    border: 1px solid #ccc;
    background: none;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative; /* needed for .remove-button's absolute positioning to anchor correctly */
}

.preset-chord-button .chord-diagram {
    max-width: 100%;
    overflow-x: auto;
}

.preset-chord-button:hover {
    transform: translateY(-6px);
    border-color: #aa3bff;
    color: #aa3bff;
}